/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*custom colors*/
:root {
    --antiFlashWhite: #F3F3F3;
    --chineseBlack: #141414;
    --headerHeight: 100px;
}
/*system font stack*/
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

/*header styles*/
header {
    width: 100%;
    background-color: var(--chineseBlack);
    height: var(--headerHeight);

    display: flex;
    align-items: center;
}

header h1 {
    color: var(--antiFlashWhite);
    font-size: 3rem;
    margin-left: 10%;
}
/*main styles*/
main {
    border:1px solid var(--chineseBlack);
    display: grid;
    grid-template-columns: 1fr 4fr;

    height: calc(100vh - var(--headerHeight));
}
/*projects styles*/
.projects-section {
    border:1px solid var(--chineseBlack);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.projects-section h2, .todo-section h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
}
/*projects-list styles*/
.projects-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.projects-list .row {
    width: 90%;
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;
}
.projects-list .row:last-child {
    margin-bottom: 0px;
}

/*new project form styles*/
#new-project-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
#new-project-form input {
    margin: 10px;
}

/*todo styles*/
.todo-section {
    border:1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.todo-section form {
    width: 300px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.todo-section form .form-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/*todo-list styles*/
.todo-list {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.todo-list .todo-row {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--chineseBlack);
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
}
